@tailwind base;
@tailwind components;
@tailwind utilities;

.imageWrapper{
    position: relative
}

.imageWrapper{ position: absolute;
    width: 1800%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-height: 200vh;

z-index: -1
}